################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1/bin/Debug/net6.0
/Lab1/obj
/Lab3/bin
/Lab3/obj
