@page
@model Lab5.Pages.IndexModel
@{
}
<table>
    <tr>
        <th><h1>John Yuson</h1></th>
    </tr>
    <tr>
        <td>
            Hello and Welcome! I am excited to share with you an opportunity to smile through out the day!
        </td>
    </tr>
</table>